/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9; /* Background warna abu-abu terang */
    color: #333;
}

/* Header */
.main-header {
    background-color: #3c8dbc; /* Warna header biru */
}

.main-header .navbar-nav .nav-link {
    color: #fff; /* Warna teks menu */
}

.main-header .navbar-nav .nav-link:hover {
    color: #f4f6f9; /* Hover effect */
}

/* Sidebar */
.main-sidebar {
    background-color: #343a40; /* Warna background sidebar */
}

.sidebar-dark-primary .brand-link {
    background-color: #1c1c1c;
}

.nav-sidebar .nav-link {
    color: #ffffff; /* Warna teks menu sidebar */
}

.nav-sidebar .nav-link:hover {
    background-color: #007bff; /* Warna hover menu */
    color: #fff;
}

/* Footer */
.main-footer {
    background-color: #343a40; /* Warna footer */
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Content */
.content-wrapper {
    padding: 20px;
}

/* Custom Button */
.btn-custom {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.btn-custom:hover {
    background-color: #0056b3;
}
